@model IEnumerable<HiN_Ventures.Models.Project>

@{
    ViewData["Title"] = "GetAll";
}

<h2>All projects</h2>

<table class="table table-striped table-bordered" id="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FreelanceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreelanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
