@model IEnumerable<HiN_Ventures.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h2>Prosjekter</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a asp-action="GetAll">Se alle prosjekter</a>
</p>

<p>
    <a asp-action="GetAll">Se alle prosjekter</a>
</p>

<h3>Ledige prosjekter som er åpne for alle</h3>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FreelanceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Complete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Open)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreelanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
