@{
    ViewData["Title"] = "Home Page";
}


@model IndexViewModel
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <p>Index.... Idk ka vi kan putte inn her...</p>
    </div>
</div>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div clss="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-md-offset-2 col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    <p>Username:</p>
                </dt>
                <dd>
                    @UserManager.GetUserName(User)
                </dd>
                <dt>
                    <p>UserId:</p>
                </dt>
                <dd>
                    @UserManager.GetUserId(User)
                </dd>
                <dt>
                    <p>Admin:</p>
                </dt>
                <dd>
                    @User.IsInRole("Admin")
                </dd>
                <dt>
                    <p>Senior:</p>
                </dt>
                <dd>
                    @User.IsInRole("Senior")
                </dd>
                <dt>
                    <p>Freelancer:</p>
                </dt>
                <dd>
                    @User.IsInRole("Freelance")
                </dd>
                <dt>
                    <p>Klient:</p>
                </dt>
                <dd>
                    @User.IsInRole("Klient")
                </dd>
            </dl>
        </div>
        <div class="col-md-offset-2 col-md-4">
        </div>
    }
    else
    {
        <div class="col-md-offset-2 col-md-4">
            <p>Ikke innlogget!</p>
        </div>
        <div class="col-md-offset-2 col-md-4">
        </div>
    }
</div>
<div style="clear:both;"></div>

