@{
    ViewData["Title"] = "Home Page";
}


@model IndexViewModel
<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <p>Index.... Idk ka vi kan putte inn her...</p>
    </div>
</div>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<div clss="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-md-offset-2 col-md-4">
            <p>Registered information about logged in user:</p>
            <dl class="dl-horizontal">
                <dt>
                    Username:
                </dt>
                <dd>
                    @UserManager.GetUserName(User)
                </dd>
                <dt>
                    UserId:
                </dt>
                <dd>
                    @UserManager.GetUserId(User)
                </dd>
                <dt>
                    ROLES:
                </dt>
                <dd>
                </dd>
                <dt>
                    Admin:
                </dt>
                <dd>
                    @User.IsInRole("Administrator")
                </dd>
                <dt>
                    Senior:
                </dt>
                <dd>
                    @User.IsInRole("Senior")
                </dd>
                <dt>
                    Freelancer:
                </dt>
                <dd>
                    @User.IsInRole("Freelance")
                </dd>
                <dt>
                    Klient:
                </dt>
                <dd>
                    @User.IsInRole("Klient")
                </dd>
            </dl>
        </div>
        <div class="col-md-offset-2 col-md-4">
        </div>
    }
    else
    {
        <div class="col-md-offset-2 col-md-4">
            <p>Ikke innlogget!</p>
        </div>
        <div class="col-md-offset-2 col-md-4">
        </div>
    }
</div>
<div style="clear:both;"></div>

